<h1 class="centered">Dermo Dermatology Services  </h1>
<br>
<%= button_to 'Home', dashboard_dash_path, :class => 'myButton', :method => :get%>
<br>
<h2 class="">Front Desk Portal</h2>
<br>
<h3 class="">Please select your action</h3>
<br>
<body class="">
<%= button_to 'Invoices',worker_invoice_invoiced_path, :class=> "myButton side buttonseperate", :method => :get%>



</body>