<style type="text/css">
    .tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #3B5A8C;border-collapse: collapse;}
    .tftable th {font-size:12px;background-color:#007dc1
    ;border-width: 1px;padding: 8px;border-style: solid;border-color: #3B5A8C;text-align:left;}
    .tftable tr {background-color:#d7e1ee;}
    .tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #3B5A8C;}
    .tftable tr:hover {background-color:#ffff99;}
</style>


<h1 class="centered">Invoices</h1>

<%= button_to 'Home', dashboard_dash_path, :class => 'myButton side buttonseperate', :method => :get%>
<%= button_to 'Dashboard', worker_dashboard_workerdash_path, :class => 'myButton side buttonseperate', :method => :get%>
<br>
<br>
<br>
<table class="tftable" border="1">
  <thead>
  <tr>
    <th>
      Invoice Number
    </th>
    <th>
      Doctor Name
    </th>
    <th>
      Patient Name
    </th>
    <th>
      Appointment Date
    </th>
    <th>
      Time
    </th>
    <th>
      Diagnosis
    </th>
    <th>
      Diagnosis Amount
    </th>
    <th>
      Appointment Fee
    </th>
    <th>
      Total Fee
    </th>
  </tr>
  </thead>
  <% @appointments.each do |appointment| %>
      <tr>
        <td>
         <%= (rand() * 5000).to_i %>
        </td>
        <td>
          <%= appointment.doctor.full_name %>
        </td>
        <td>
          <%= appointment.patient.full_name %>
        </td>
        <td>
          <%= appointment.visit_date %>
        </td>
        <td>
          <%= appointment.time_slot.time_name %>
        </td>
        <td>
          <%= appointment.diagnosis.diagcode %>
        </td>
        <td>
          <%= number_to_currency(appointment.diagnosis.price) %>
        </td>
        <td>
          <%= number_to_currency(appointment.appointment_condition.charge_fee) %>
        </td>
        <td>
          <%=number_to_currency(appointment.diagnosis.price + appointment.appointment_condition.charge_fee) %>
        </td>
      </tr>
  <% end %>
</table>