<h1 class="centered">Dermo Dermatology Services  </h1>
<br>
<h2></h2>
<h3 class="">Please select your user</h3>


<h4 class="centered">
<%= button_to 'Patient',patient_dashboard_patientdash_path, :class=> "myButton side buttonseperate", :method => :get%>
<%= button_to 'Doctor', doctor_dashboard_doctordash_path, :class => "myButton side buttonseperate", :method => :get  %>
<%= button_to 'Office Worker', worker_dashboard_workerdash_path, :class => "myButton side buttonseperate", :method => :get%>
<%= button_to 'Admin',admin_dashboard_admindash_path, :class => "myButton side buttonseperate", :method => :get %>

</h4>