<h1 class="centered">Dermo Dermatology Services  </h1>
<br>
<%= button_to 'Home', dashboard_dash_path, :class => "myButton centered", :method => :get%>
<br>
<h2 class="">What's up doc?</h2>
<br>
<h3 class="">Please select your action</h3>
<br>
<body class="">
<%= button_to 'View appointments',doctor_appoint_ready_path, :class=> "myButton side buttonseperate", :method => :get%>
<%= button_to 'Select your appointment',appointments_path, :class=> "myButton side buttonseperate", :method => :get%>
<%= button_to 'Add patient', new_patient_path, :class => "myButton side buttonseperate", :method => :get%>

</body>