<h1 class="centered">Dermo Dermatology Services  </h1>
<br>
<%= button_to 'Home', dashboard_dash_path, :class => "myButton side buttonseperate", :method => :get%>
<%= button_to 'Back', admin_dashboard_admindash_path, :class => "myButton side buttonseperate", :method => :get%>
<br>
<br>
<br>
<h2 class="">Modify Database</h2>
<br>
<h3 class="">Please select your action</h3>

<body class="">
<%= button_to 'Doctors',doctors_path, :class=> "myButton side buttonseperate", :method => :get%>
<%= button_to 'Patients', patients_path, :class => "myButton side buttonseperate", :method => :get  %>
<%= button_to 'Time-slots', time_slots_path, :class => "myButton side buttonseperate", :method => :get%>
<%= button_to 'Diagnosis', diagnoses_path, :class => "myButton side buttonseperate", :method => :get%>
<%= button_to 'Appointments', appointments_path, :class => "myButton side buttonseperate", :method => :get%>
<%= button_to 'Appointment Statuses', appointment_conditions_path, :class => "myButton side buttonseperate", :method => :get%>

</body>