<h1 class="centered">Dermo Dermatology Services  </h1>
<br>
<%= button_to 'Home', dashboard_dash_path, :class => "myButton centered", :method => :get%>
<br>
<h2 class="">Administrator Portal</h2>
<br>
<h3 class="">Please select your action</h3>
<br>
<body class="">
<%= button_to 'View/Edit database',admin_edit_db_editdatabase_path, :class=> "myButton side buttonseperate", :method => :get%>
<%= button_to 'Completed Appointments',admin_done_doned_path, :class=> "myButton side buttonseperate", :method => :get%>

</body>