<h1>Editing time_slot</h1>
<%= button_to 'Dashboard', admin_edit_db_editdatabase_path, :class => 'myButton', :method => :get%>
<%= render 'form' %>

<%= link_to 'Show', @time_slot %> |
<%= link_to 'Back', time_slots_path %>
