<p id="notice"><%= notice %></p>

<p>
  <strong>Time name:</strong>
  <%= @time_slot.time_name %>
</p>

<p>
  <strong>Time time:</strong>
  <%= @time_slot.time_time %>
</p>

<%= link_to 'Edit', edit_time_slot_path(@time_slot) %> |
<%= link_to 'Back', time_slots_path %>
