<%= form_for(@appointment_condition) do |f| %>
  <% if @appointment_condition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment_condition.errors.count, "error") %> prohibited this appointment_condition from being saved:</h2>

      <ul>
      <% @appointment_condition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :current_status %><br>
    <%= f.text_field :current_status %>
  </div>
  <div class="field">
    <%= f.label :charge_fee %><br>
    <%= f.text_field :charge_fee %>
  </div>
  <div class="actions ">
    <%= f.submit %>
  </div>
<% end %>
