<style type="text/css">
    .tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #3B5A8C;border-collapse: collapse;}
    .tftable th {font-size:12px;background-color:#007dc1
    ;border-width: 1px;padding: 8px;border-style: solid;border-color: #3B5A8C;text-align:left;}
    .tftable tr {background-color:#d7e1ee;}
    .tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #3B5A8C;}
    .tftable tr:hover {background-color:#ffff99;}
</style>

<h1>Listing appointment_conditions</h1>
<%= button_to 'Dashboard', admin_edit_db_editdatabase_path, :class => 'myButton', :method => :get%>
<table class="tftable" border="1">
  <thead>
    <tr>
      <th>Current status</th>
      <th>Charge fee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointment_conditions.each do |appointment_condition| %>
      <tr>
        <td><%= appointment_condition.current_status %></td>
        <td><%= appointment_condition.charge_fee %></td>
        <td><%= link_to 'Show', appointment_condition %></td>
        <td><%= link_to 'Edit', edit_appointment_condition_path(appointment_condition) %></td>
        <td><%= link_to 'Destroy', appointment_condition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment condition', new_appointment_condition_path %>


