<p id="notice"><%= notice %></p>

<p>
  <strong>Current status:</strong>
  <%= @appointment_condition.current_status %>
</p>

<p>
  <strong>Charge fee:</strong>
  <%= @appointment_condition.charge_fee %>
</p>

<%= link_to 'Edit', edit_appointment_condition_path(@appointment_condition) %> |
<%= link_to 'Back', appointment_conditions_path %>
