<h1 class="centered">Dermo Dermatology Services  </h1>
<br>
<%= button_to 'Home', dashboard_dash_path, :class => "myButton centered", :method => :get%>
<br>
<h2 class="">Patient Portal</h2>
<br>
<h3 class="">Please select your action</h3>

<body class="">

<%= button_to 'Schedule Appointment', new_appointment_path, :class => "myButton side buttonseperate", :method => :get  %>
<%= button_to 'Edit or cancel an appointment', appointments_path, :class => "myButton side buttonseperate", :method => :get  %>

<%= button_to 'Add patient', new_patient_path, :class => "myButton side buttonseperate", :method => :get%>

</body>