<%= form_for(@doctor) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dlast_name %><br>
    <%= f.text_field :dlast_name %>
  </div>
  <div class="field">
    <%= f.label :dfirst_name %><br>
    <%= f.text_field :dfirst_name %>
  </div>
  <div class="field">
    <%= f.label :doc_phone %><br>
    <%= f.text_field :doc_phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
