<p id="notice"><%= notice %></p>

<p>
  <strong>Dlast name:</strong>
  <%= @doctor.dlast_name %>
</p>

<p>
  <strong>Dfirst name:</strong>
  <%= @doctor.dfirst_name %>
</p>

<p>
  <strong>Doc phone:</strong>
  <%= @doctor.doc_phone %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
