/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

                                           .myButton {
                                               -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
                                               -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
                                               box-shadow:inset 0px 1px 0px 0px #54a3f7;
                                               background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
                                               background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
                                               background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
                                               background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
                                               background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
                                               background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
                                               filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
                                               background-color:#007dc1;
                                               -moz-border-radius:3px;
                                               -webkit-border-radius:3px;
                                               border-radius:3px;
                                               border:1px solid #124d77;
                                               display:inline-block;
                                               cursor:pointer;
                                               color:#ffffff;
                                               font-family:arial;
                                               font-size:13px;
                                               padding:6px 24px;
                                               text-decoration:none;
                                               text-shadow:0px 1px 0px #154682;
                                           }
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
    background-color:#0061a7;
}
.myButton:active {
    position:relative;
    top:1px;
}

h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #4467A1;
    font-size: 40;
    padding: 9;
}

h2  {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #3B5A8C;
    font-size: 24;
    padding: 9;
}

h3 {

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #36517D;
    font-size: 20;
    padding: 9;
}
.buttonmove{
    margin-left: 300px;
}

.buttonseperate{
    margin-right: 50px;
}

.centered{
    text-align: center;
}

.side {
    float: left;
}

body {
    background-color: #b0c4de;
}