<%= form_for(@appointment) do |f| %>
    <% if @appointment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

          <ul>
            <% @appointment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :patient_id %><br>
      <%= f.collection_select :patient_id, Patient.all, :id, :full_name%>
    </div>
    <div class="field">
      <%= f.label :doctor_id %><br>
      <%= f.collection_select :doctor_id, Doctor.all, :id, :full_name %>
    </div>
    <div class="field">
      <%= f.label :visit_date %><br>
      <%= f.date_select :visit_date %>
    </div>
    <div class="field">
      <%= f.label :time_slot_id %><br>
      <%= f.collection_select :time_slot_id, TimeSlot.all, :id, :time_name %>
    </div>
    <div class="field">
      <%= f.label :patient_notes %><br>
      <%= f.text_area :patient_notes %>
    </div>
    <div class="field">
      <p>FOR DOCTOR USE ONLY</p>

    </div>
    <div class="field">
      <%= f.label :diagnosis_id %><br>
      <%= f.collection_select :diagnosis_id, Diagnosis.all, :id, :diagcode %>
    </div>

    <div class="field">
      <%= f.label :doctor_notes %><br>
      <%= f.text_area :doctor_notes %>
    </div>
    <div class="field">
      <%= f.label :appointment_condition_id %><br>
      <%= f.collection_select :appointment_condition_id, AppointmentCondition.all, :id, :current_status %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>

