<style type="text/css">
    .tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #3B5A8C;border-collapse: collapse;}
    .tftable th {font-size:12px;background-color:#007dc1
    ;border-width: 1px;padding: 8px;border-style: solid;border-color: #3B5A8C;text-align:left;}
    .tftable tr {background-color:#d7e1ee;}
    .tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #3B5A8C;}
    .tftable tr:hover {background-color:#ffff99;}
</style>
<%= button_to 'Home', dashboard_dash_path, :class => 'myButton side buttonseperate', :method => :get%>
<%= button_to 'Doctor Dashboard', doctor_dashboard_doctordash_path, :class => 'myButton side buttonseperate', :method => :get%>
<%= button_to 'Patient Dashboard', patient_dashboard_patientdash_path, :class => 'myButton side buttonseperate', :method => :get%>
<br>
<br>
<h1 class="centered">Appointments</h1>


<br>
<table class="tftable" border="1">
  <thead>
    <tr>
      <th>Patient</th>
      <th>Doctor</th>
      <th>Visit date</th>
      <th>Time slot</th>
      <th>Patient notes</th>
      <th>Diagnosis</th>
      <th>Doctor notes</th>
      <th>Appointment status</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<p>Doctors: Click on Edit to start your session</p>
  <p>Patients: Click on Destroy to cancel your appointment</p>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.full_name %></td>
        <td><%= appointment.doctor.full_name %></td>
        <td><%= appointment.visit_date %></td>
        <td><%= appointment.time_slot.time_name %></td>
        <td><%= appointment.patient_notes %></td>
        <td><%= appointment.diagnosis.diagcode %></td>
        <td><%= appointment.doctor_notes %></td>
        <td><%= appointment.appointment_condition.current_status %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
      </tr>
    <% end %>
  </tbody>
  <p>Note: Appointments cannot be canceled 8 hours before scheduled time </p>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
