<%= button_to 'Home', dashboard_dash_path, :class => 'myButton side buttonseperate', :method => :get%>
<%= button_to 'Patient Dashboard', patient_dashboard_patientdash_path, :class => 'myButton side buttonseperate', :method => :get%>
<%= button_to 'Doctor Dashboard', doctor_dashboard_doctordash_path, :class => 'myButton side buttonseperate', :method => :get%>
<br>
<br>
<h1>Schedule Appointment</h1>

<%= render 'form' %>

<%= link_to 'Back', appointments_path %>
