<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.full_name %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @appointment.doctor.full_name %>
</p>

<p>
  <strong>Visit date:</strong>
  <%= @appointment.visit_date %>
</p>

<p>
  <strong>Time slot:</strong>
  <%= @appointment.time_slot.time_name %>
</p>

<p>
  <strong>Patient notes:</strong>
  <%= @appointment.patient_notes %>
</p>

<p>
  <strong>Diagnosis:</strong>
  <%= @appointment.diagnosis.diagcode %>
</p>

<p>
  <strong>Doctor notes:</strong>
  <%= @appointment.doctor_notes %>
</p>

<p>
  <strong>Appointment status:</strong>
  <%= @appointment.appointment_condition.current_status %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
